*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display:flex;
    background: #060AB2;
}

.memory-game {
    width:640px;
    height: 640px;
    display:flex;
    flex-wrap: wrap;
    border: 2px solid lime;
}

.memory-card {
    width: 25%;
    height: 33.333%;
    border: 2px solid aqua;
    margin: 5px;
    position: relative;
}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    border: 2px solid deeppink;
}
